<h1 class="text-2xl font-bold trancate ">
      <%= link_to  "<", root_path ,class:" p-2 rounded hover:bg-gray-100"%>
    Monitor page
</h1>


<%= render "form", page: @page %>

<br>

<div>
  <%= link_to "Back to pages", pages_path %>
</div>
